<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.Selenium.Assignment.TestCases.FlightBookingTest"></class>
      <class name="com.Selenium.Assignment.TestCases.TopDealsTest"></class>
      <class name="com.Selenium.Assignment.TestCases.SearchTest"></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
